@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 14px;
    background-color: #2c2f2e;
    color: #333;
}

/* typography */
h1, h2, h3, h4, h5, h6{
  font-weight: 300;
  color: #9acdb5;
}

a{
  color: #9acdb5;
}

a:hover{
  text-decoration: none;
}

/* framework */
#Map {
  width: calc(100vw - 300px);
  height: 100vh;
}

#Content {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 300px;
  height: 100vh;
  background-color: #373d3b;
}

#Content h2 {
  color: #fff;
  font-size: 20px;
  letter-spacing: .03em;
  padding: 15px 20px;
  margin: 0px;
}

#Content h3 {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 20px;
  letter-spacing: .02em;
  margin-bottom: 0px;
}

#Content h3 img {
  width: 33px;
  margin-right: 15px;
  vertical-align: middle;
}

#Content .description {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 30px 10px 20px;
  height: calc(100vh - 400px);
  overflow-y: auto;
  line-height: 18px;
}

#Content .description h1,
#Content .description h2,
#Content .description h3,
#Content .description h4,
#Content .description h5 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px 0px 0px 0px;
  color: #fff;
}

/* Map */
#Map iframe {
  height: 100vh;
}

/* slick */
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-item img {
  width: 100%;
}

.slick-dots {
  bottom: 8px;
}

.slick-dots li {
  margin: 0 1px;
}

.slick-dots li button:before {
  font-size: 12px;
  opacity: .5;
  color: #9acdb5;
}

.slick-dots li.slick-active button:before {
    font-size: 10px;
    opacity: 1;
    color: #FA6300;
}

/* loaders */
.page-loader {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(44,47,46,.8);
  z-index: 99999;
}

/* spinner */
.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #9acdb5;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}